#configurator {
  display: grid;
  grid-template-areas:
    "product options"
    "features features";
  gap: 1em;
}

body {
  background-color: #c9c9c9;
}

p {
  font-size: 2rem;
  text-align: center;
}

/* Product */

#product-preview {
  grid-area: product;
  position: relative;
  background-color: #ffffff;
  height: 110vh;
  transition: opacity ease-in 0.5s;
}

#product-preview svg {
  position: absolute;
  width: 50%;
  height: auto;
  top: 0;
  left: 0;
  margin: 4.5rem 7rem;
}

#product-preview [data-feature="text_1"] {
  position: relative;
  width: 60%;
  height: auto;
  margin: 4rem 5.7rem;
}

#product-preview [data-feature="text_2"] {
  position: relative;
  width: 60%;
  height: auto;
  margin: 4.5rem 5.5rem;
  top: -40vw;
}

#product-preview .hide {
  opacity: 0;
}

/* Options */

#options {
  grid-area: options;
  padding: 1em;
  background-color: #ffffff;
}

#options .option {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  color: #aaa;
}

#options .option:hover {
  background-color: #ddd;
  cursor: pointer;
}

#options .option.chosen {
  text-decoration: underline;
  color: #000;
}

#options .option img {
  width: 7vw;
  height: auto;
}

#options .option figcaption {
  font-size: 20px;
}

/* Selected */

#selected {
  grid-area: features;
  top: -14vw;
  position: relative;
  padding: 1rem;
}

#selected ul {
  list-style-type: none;
}

#selected ul li {
  display: inline-block;
}

#selected ul li img {
  width: 5em;
}

/* Colors */

#colors {
  left: -45.5vw;
  position: relative;
  top: -5vw;
  padding: 10px;
  background-color: #ffffff;
  color: oldlace;
}

/* Animation classes */

.animate-feature-in {
  animation-name: animate-feature-in_kf;
  animation-iteration-count: 1;
  animation-duration: 2s;
}

@keyframes animate-feature-in_kf {
  0% {
    transform: translate(var(--diffx), var(--diffy)) scale(0);
  }

  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animate-feature-out {
  animation-name: animate-feature-out_kf;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-direction: reverse;
}

@keyframes animate-feature-out_kf {
  0% {
    transform: translate(var(--diffx), var(--diffy)) scale(0);
  }

  100% {
    transform: translate(0, 0) scale(1);
  }
}

/* Add colores */

.interact {
  fill: transparent;
  fill-rule: evenodd;
}

path {
  stroke-width: 2;
}

#shadow {
  pointer-events: none;
}
