/* STYLE FOR THE SCROLL PAGE - TRANSFER TO GLOBAL STYLE SHEET */
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  --dark-gray: #8c8c8c;
  --blue: #96d2e1;
  --light-gray: #c9c9c9;
  --white: white;
  --black: black;
  --shadowColor: rgba(0, 0, 0, 0.137);
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

main {
  width: 100vw;
  margin: auto;
  background-color: var(--light-gray);
  display: flex;
  flex-direction: column;
}

section {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  align-content: space-between;
  scroll-snap-align: start;
}

section:nth-of-type(even) {
  background-color: var(--white);
}

#the_shirt {
  width: 100vw;
  height: 60vh;
  z-index: 1;
  position: fixed;
  top: 20vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("shirt_pro.png");
  background-position: center;
  animation-name: shirt_in_kf;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

@keyframes shirt_in_kf {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  60% {
    opacity: 0.8;
    transform: translateX(20px);
  }
  80% {
    opacity: 0.9;
    transform: translateX(-5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

section p {
  grid-column: 1/3;
  grid-row: 2/3;
  width: 100%;
  text-align: left;
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 4rem;
  padding: 20px;
  padding-left: 10vw;
  z-index: 2;
  /* text-shadow: 2px 2px 5px var(--shadowColor); */
}

section p + p {
  grid-column: 2/4;
  grid-row: 3/4;
  padding-right: 10vw;
  text-align: start;
}

main a {
  text-decoration: none;
  grid-column: 1/4;
  grid-row: 4/6;
  padding: 40px;
  margin-left: 16rem;
}

main button {
  width: 80%;
  height: 80%;
  color: var(--black);
  font-size: 1rem;
  text-decoration: none;
  box-shadow: 2px 2px 5px var(--shadowColor);
  font-size: clamp(1rem, 5vw, 2rem);
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 2px solid white;
  border-radius: 1000px;
  padding: 10px 20px;
  transition: 0.5s all ease-in-out;
}

button:hover {
  cursor: pointer;
  background: var(--blue);
  color: var(--black);
  animation: none;
  animation-play-state: paused;
}

.button-wiggle {
  animation: wiggle 4s 2s infinite;
}

@keyframes wiggle {
  5%,
  50% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  15% {
    transform: scale(1.15);
  }
  20% {
    transform: scale(1.15) rotate(-5deg);
  }
  25% {
    transform: scale(1.15) rotate(5deg);
  }
  30% {
    transform: scale(1.15) rotate(-3deg);
  }
  35% {
    transform: scale(1.15) rotate(2deg);
  }
  40% {
    transform: scale(1.15) rotate(0);
  }
}

#color_dots {
  grid-row: 2/6;
  grid-column: 3/4;
  margin: 20px;
  transform-origin: top;
  z-index: 2;
  /* transform: rotate(-90deg); */
  opacity: 0;
}

.color_dot {
  border-radius: 50%;
  height: clamp(100px, 10%, 50px);
  width: clamp(100px, 10%, 50px);
  margin: 10px;
  border: 2px solid rgb(236, 236, 236);
}

.gray {
  background-color: rgb(146, 146, 146);
}
.blue {
  background-color: rgb(143, 169, 184);
}
.green {
  background-color: rgb(104, 143, 114);
}
.yellow {
  background-color: rgb(236, 204, 116);
}

#text_example {
  grid-column: 2/3;
  grid-row: 3/5;
  text-align: left;
  font-size: 1.5rem;
}

#extra_images {
  opacity: 0;
  grid-row: 2/6;
  grid-column: 3/4;
}

#extra_one {
  width: 25%;
  margin-top: 3rem;
  margin-left: 3rem;
}

#extra_two {
  width: 25%;
  margin-left: 3rem;
  margin-right: 11rem;
}

#extra_three {
  width: 25%;
  margin-left: 3rem;
  margin-right: 11rem;
}

#try_it {
  z-index: 3;
  background-color: white;
  height: calc(100vh - 8vh);
}

#try_it p {
  text-align: center;
  padding: 0;
  margin-right: 4rem;
  margin-top: 2rem;
  grid-column: 2/3;
  grid-row: 1/3;
  font-size: clamp(1rem, 14vw, 8rem);
  opacity: 0;
}

@media screen and (max-width: 930px) {
  main a {
    margin-left: 3rem;
    cursor: pointer;
  }

  main button {
    width: 80%;
    height: 50%;
    background-color: var(--blue);
  }

  #try_it p {
    grid-column: 2/3;
    grid-row: 2/6;
    font-size: clamp(1rem, 18vw, 8rem);
  }

  #text_example {
    grid-column: 2/3;
    grid-row: 3/5;
  }

  section p {
    font-size: 3rem;
    padding: 0;
    padding-left: 10vw;
  }

  #extra_images {
    opacity: 0;
    grid-row: 3/6;
    grid-column: 1/4;
  }

  #extra_one {
    width: 20%;
    margin-top: 0;
    margin-left: 7rem;
  }

  #extra_two {
    width: 20%;
    margin-left: 7rem;
    margin-right: 11rem;
  }

  #extra_three {
    width: 20%;
    margin-left: 7rem;
    margin-right: 11rem;
  }

  #color_dots {
    grid-row: 3/6;
    grid-column: 3/4;
  }

  .color_dot {
    height: clamp(50px, 10%, 50px);
    width: clamp(50px, 10%, 50px);
  }
}
