* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-y: hidden;
}
#configurator {
  display: grid;
  position: relative;
  grid-template-areas:
    "product product options"
    "features features features";
  gap: 1em;
  margin: 10vh auto 0 auto;
  height: calc(92vh + 1em);
  max-width: 1500px;
}

body {
  background-color: #ffffff;
}

p {
  font-size: 2rem;
  text-align: center;
  margin-top: 60px;
}

h2 {
  font-size: 1rem;
  padding-bottom: 10px;
}
/* Product */

#product-preview {
  grid-area: product;
  position: relative;
  background-color: #ffffff;
  height: 100%;
  transition: opacity ease-in 0.5s;
  display: flex;
  justify-content: center;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.329) 1px 1px 2px;
  border: rgba(196, 196, 196, 0.404) solid 0.5px;
}

#product-preview svg {
  position: absolute;
  height: 55vh;
}

#product-preview [data-feature="text_1"],
#product-preview [data-feature="text_2"] {
  position: absolute;
  display: flex;
  justify-content: center;
  width: auto;
  height: 67%;
  top: 35px;
}
figure {
  flex-grow: 1;
  flex-basis: 30px;
  padding-bottom: 5px;
}

#customText {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 50%;
  font-size: 1.2rem;
  margin-top: 40px;
  pointer-events: none;
}
#text_container {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

input[type="text"] {
  border: solid rgba(128, 128, 128, 0.301) 1px;
  padding: 2px;
  width: 40%;
}
#add_text_button {
  border: none;
  text-align: center;
  width: 20%;
  background-color: #96d2e1;
  box-shadow: rgba(0, 0, 0, 0.178) 1px 1px 1px;
  font-size: 0.6rem;
  text-transform: uppercase;
  color: rgb(78, 78, 78);
}

#add_text_button:hover,
a:hover,
select:hover,
#colorsection rect:hover,
input[type="color"]:hover,
.interact:hover {
  opacity: 0.8;
  cursor: pointer;
}
#fonts_container {
  width: 25%;
}
#fonts {
  border: solid rgba(128, 128, 128, 0.301) 1px;
  color: gray;
}

#product-preview .hide {
  opacity: 0;
}

/* Options */

#options {
  grid-area: options;
  padding: 1em;
  position: relative;
  background-color: #ffffff;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.329) 1px 1px 2px;
  border: rgba(196, 196, 196, 0.404) solid 0.5px;
}

#options .option {
  display: flex;
  flex-grow: 1;
  flex-basis: 50px;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  color: #aaa;
  height: 30px;
  justify-content: end;
}

#options .option:hover {
  background-color: #ddd;
  cursor: pointer;
}

#options .option.chosen {
  text-decoration: underline;
  color: #000;
}

#options .option img {
  height: 30px;
}

/* Selected */

#selected {
  grid-area: features;
  padding: 1rem;
  position: relative;
  background-color: rgb(241, 241, 241);
  height: 100%;
  display: flex;
  flex-direction: column;
  border: rgba(196, 196, 196, 0.404) solid 0.5px;
  box-shadow: rgba(0, 0, 0, 0.329) 1px 1px 2px;
}

#selected ul {
  list-style-type: none;
}

#selected ul li {
  display: inline-block;
}

#selected ul li img {
  height: 3em;
  z-index: 2;
}

/* Colors */

#colorsection {
  position: relative;
  padding: 10px 0 0 0;
  background-color: #ffffff;
  color: oldlace;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  flex-grow: 1;
  flex-basis: 60px;
}

input[type="color"] {
  border: none;
  width: 8%;
  height: 33px;
  margin-left: 5px;
  border: #96d2e1 dashed 2px;
}

/* Animation classes */

.animate-feature-in {
  animation-name: animate-feature-in_kf;
  animation-iteration-count: 1;
  animation-duration: 2s;
}

@keyframes animate-feature-in_kf {
  0% {
    transform: translate(var(--diffx), var(--diffy)) scale(0);
  }

  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animate-feature-out {
  animation-name: animate-feature-out_kf;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-direction: reverse;
}

@keyframes animate-feature-out_kf {
  0% {
    transform: translate(var(--diffx), var(--diffy)) scale(0);
  }

  100% {
    transform: translate(0, 0) scale(1);
  }
}

/* Add colores */

.interact {
  fill: transparent;
  fill-rule: evenodd;
}

#shadow {
  pointer-events: none;
}

.interact:hover {
  stroke-width: 2;
  stroke: blue;
}

@media screen and (max-width: 750px) {
  * {
    overflow-y: scroll;
  }
  #configurator {
    grid-template-areas:
      "features product product"
      "options options options";
    overflow-y: visible;
    height: auto;
  }
  body {
    overflow-y: scroll;
  }
  #selected {
    max-width: 200px;
    height: auto;
  }
  #selected ul {
    flex-direction: column;
    display: flex;
  }
  #product-preview {
    min-width: 300px;
    min-height: 60vh;
  }
}
@media screen and (max-width: 450px) {
  #product-preview {
    min-width: 200px;
  }
}
@media screen and (max-width: 370px) {
  #product-preview {
    height: 50vh;
  }
  #product-preview svg {
    position: absolute;
    height: 40vh;
  }

  #product-preview [data-feature="text_1"],
  #product-preview [data-feature="text_2"] {
    height: 60%;
  }
}
